
@{
    ViewBag.Title = "CRUDPackagesAndPricing";
}

<h2 id="mainHeader">Packages and Pricing</h2>
<hr />
<h3 id="quote">Be in harmony with yourself</h3>
<div id="container">
    <div>
        <p>Update our Yogi packages and pricing.</p>
    </div>
</div>