
@{
    ViewBag.Title = "CRUDCalendar";
}

<h2 id="mainHeader">Course Calendar</h2>
<hr />
<h3 id="quote">Our Vibes Speak Louder Than Our Words</h3>
<div id="container">
    <div>
        <p>
            Update the schedule here. Add, remove and update classes as needed for the month.

        </p>
    </div>
</div>
