
@{
    ViewBag.Title = "CRUDEmployee";
}

<h2 id="mainHeader">Update Employees</h2>
<hr />
<h3 id="quote">Try to be a rainbow in someone's cloud</h3>
<div id="container">
    <div>
        <p>
            Add employees, remove employees and control their roles as users. 

        </p>
    </div>
</div>
