
@{
    ViewBag.Title = "PayEmployees";
}

<h2 id="mainHeader">Employee Payroll</h2>
<hr />
<h3 id="quote">What you seek is seeking you</h3>
<div id="container">
    <div>
        <p>Paying your Yogi instructors is easy! Use your stripe account to send your workers their weekly pay.</p>
    </div>
</div>
