@model YogiStudio.Models.Bulletin

@{
    ViewBag.Title = "Bulletin";
}

<h2 id="mainHeader">Yogi Employee Chat</h2>
<hr />
<h3 id="quote">Try to be a rainbow in someone's cloud</h3>
<p>
    Welcome, Yogi instructors! Please use this bulletin to share thoughts, inspiration, and ask questions.
    This is a great spot to get advice from your fellow instructors. Feel free to plan get togethers, seminars
    or give other information that will help you all become even stronger Yoga masters.
</p>
<div id="container" class="col-md-12">
    @using (Html.BeginForm("ReceiveMessage", "Bulletin", FormMethod.Post))
    {
        <div class="col-md-8">
            @Html.TextBoxFor(model => model.Message, new { @class = "form-control", @placeholder = "New Post" })
            <hr />
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
            <hr />
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Comment, new { @class = "form-control", @placeholder = "Add Comment" })
                <hr />
                <button type="submit" class="btn btn-default">Submit</button>
            </div>

    }

</div>
<div id="container">

</div>



