
@{
    ViewBag.Title = "Calendar";
}

<h2 id="mainHeader">Course Calendar</h2>
<hr />
<h3 id="quote">Our Vibes Speak Louder Than Our Words</h3>
<div id="container">
    <div>
        <p>
            View the upcoming schedule at Yogi Studio! View the roster for your Yoga sessions, and keep track of your 
            work schedule. Any questions about the schedule? Please contact your location's administrator.

        </p>
    </div>
</div>