
@{
    ViewBag.Title = "InstructorBulletin";
}

<h2 id="mainHeader">Yogi Employee Chat</h2>
<hr />
<h3 id="quote">Try to be a rainbow in someone's cloud</h3>
<div id="container">
    <div>
        <p>
            Welcome, Yogi instructors! Please use this bulletin to share thoughts, inspiration, and ask questions. 
            This is a great spot to get advice from your fellow instructors. Feel free to plan get togethers, seminars
            or give other information that will help you all become even stronger Yoga masters.

        </p>
    </div>
</div>
