
@{
    ViewBag.Title = "MyPay";
}

<h2 id="mainHeader">My Pay</h2>
<hr />
<h3 id="quote">What you seek is seeking you</h3>
<div id="container">
    <div>
        <p>Receive your pay, and have access to prior checks. Pay is sent every week. Please contact your 
        adminstrator with any questions or concerns!</p>
    </div>
</div>

