
@{
    ViewBag.Title = "About";
}
<h2 id="mainHeader">About Yogi Studio</h2>
<hr />
<h3 id="quote">Find Your Balance</h3>
<div id="container">
    <hr />
    <div>
        <p>
            At Yogi Studio, we make it our mission to help people find balance and peace through the practice of Yoga.
        </p>
        <hr />
    </div>
</div>

