
@{
    ViewBag.Title = "CourseCalendar";
}

<h2 id="mainHeader">Course Calendar</h2>
<hr />
<h3 id="quote">Our Vibes Speak Louder Than Our Words</h3>
<div id="container">
    <div>
        <p>
            You can view our Calendar to get an idea of what we have to offer! We have a wide variety of classes, and times
            to accomdoate as many guests as possible! Like what you see? Register now and sign up for classes!
        </p>
    </div>
</div>

