
@{
    ViewBag.Title = "CourseCalendar";
}

<h2 id="mainHeader">Course Calendar</h2>
<hr />
<h3 id="quote">Our Vibes Speak Louder Than Our Words</h3>
<div id="container">
    <div>
        <p>
            You can view our Calendar to get an idea of what we have to offer! We have a wide variety of classes, and times
            to accomdoate as many guests as possible! Like what you see? Register now and sign up for classes!
        </p>
    </div>
    <div id="calendar">
    </div>
</div>
<div id="popupEventForm" class="modal hide" style="display: none;">
    <div><h3 id="modal-header">Add New Class</h3></div>
    <div class="modal-body">
        <form id="EventForm" class="well">
            <input type="hidden" id="eventID">
            <div class="modal-body">
                <label>Class</label>
                @Html.DropDownList("Class", (SelectList)ViewBag.Classes, " ")
                <label>Class Description</label>
                @Html.TextBox("Description", (SelectList)ViewBag.ClassDescription, " ")
            </div>
            @*<input type="text" id="eventTitle" placeholder="Title here"><br />*@
            @*<div class="modal-body">
                    <label>Instructor</label>
                    @Html.DropDownList("Instructor", (SelectList)ViewBag.Instructors, " ")
                </div>*@
            <label>Scheduled date</label>
            <input type="text" id="eventDate"><br />
            <label>Scheduled time</label>
            <input type="text" id="eventTime"><br />
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancel</button>
        <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Add Class</button>
    </div>
</div>


