
@{
    ViewBag.Title = "PackagesAndPricing";
}

<h2 id="mainHeader">Packages</h2>
<hr />
<h3 id="quote">Don't ever doubt your worth</h3>
<hr />
<header>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</header>
<hr />
<div id="container">
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="text-center">
                        SINGLE Class
                    </h4>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>$15 / class</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Multiple Instructors</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-danger">
                        <form action="your-server-side-code" method="POST">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_ZAnbP0INntVBj9Q84CNzSpRQ"
                                    data-amount="1500"
                                    data-name="DevCodeTest"
                                    data-description="Widget"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto">
                            </script>
                        </form>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="text-center">
                        10 Pack
                    </h4>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>$110 / package</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Multiple Instructors</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-danger">
                        <form action="your-server-side-code" method="POST">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_ZAnbP0INntVBj9Q84CNzSpRQ"
                                    data-amount="11000"
                                    data-name="DevCodeTest"
                                    data-description="Widget"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto">
                            </script>
                        </form>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">
                        MONTHLY Membership
                        <br />Unlimited
                    </h4>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>$60 / month</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Multiple Instructors</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-danger">
                        <form action="your-server-side-code" method="POST">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_ZAnbP0INntVBj9Q84CNzSpRQ"
                                    data-amount="6000"
                                    data-name="DevCodeTest"
                                    data-description="Widget"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto">
                            </script>
                        </form>
                    </a>
                </div>
            </div>
        </div>
        <hr />
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        YEARLY Membership
                        <br />Unlimited
                    </h4>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>$600 / year</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Multiple Instructors</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-danger">
                        <form action="your-server-side-code" method="POST">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_ZAnbP0INntVBj9Q84CNzSpRQ"
                                    data-amount="60000"
                                    data-name="DevCodeTest"
                                    data-description="Widget"
                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                    data-locale="auto">
                            </script>
                        </form>
                    </a>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>

