@{
    ViewBag.Title = "";
}


    <h2 id="mainHeader">Contact Us</h2>
    <hr />
    <h3 id="quote">Sky above, earth below, PEACE within</h3>
<div id="container">
    <div>
        <address>
            Eastside Location:
            8187 Downer Ave<br />
            Milwaukee, WI 53211<br />
            <abbr title="Phone">P:</abbr>
            414.707.2289
        </address>
    </div>
    <hr />
    <div>
        <address>
            Downtown Location:
            1500 Water St<br />
            Milwaukee, WI 53212<br />
            <abbr title="Phone">P:</abbr>
            414.426.0323
        </address>
    </div>
    <hr />
    <div>
        <address>
            Northside Location:
            2700 Capitol Dr<br />
            Milwaukee, WI 53217<br />
            <abbr title="Phone">P:</abbr>
            414.632.6642
        </address>
    </div>
    <hr />
    <div>
        <address>
            <strong>Questions for our staff?:</strong>   <a href="mailto:Support@example.com">YogiStudio@gmail.com</a><br />
        </address>
    </div>
</div>


