@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Eastside Location
    8187 Downer Ave<br />
    Milwaukee, WI 53211<br />
    <abbr title="Phone">P:</abbr>
    414.707.2289
</address>
<address>
    Downtown Location
    1500 Water St<br />
    Milwaukee, WI 53212<br />
    <abbr title="Phone">P:</abbr>
    414.426.0323
</address>
<address>
    Northside Location
    2700 Capitol Dr<br />
    Milwaukee, WI 53217<br />
    <abbr title="Phone">P:</abbr>
    414.632.6642
</address>

<address>
    <strong>Questions for our staff?:</strong>   <a href="mailto:Support@example.com">YogiStudio@gmail.com</a><br />
</address>