
@{
    ViewBag.Title = "CourseCalendar";
}

<div>
    <div>
        <h2 id="mainHeader">Course Calendar</h2>
    </div>
    <hr />
    <h3 id="quote">Our Vibes Speak Louder Than Our Words</h3>
    <hr />
    <div>
        <p>
            
        </p>
    </div>
</div>

