
@{
    ViewBag.Title = "Instructors";
}
<h2 id="mainHeader">Meet Our Instructors!</h2>

<hr />
<h3 id="quote">Each morning we are born again. What we do today matters most</h3>
<div id="container">
    <div>
        <p>
            All of our Yoga instructors are certified, trained, professionals whose goal is to help YOU acheive your
            personal goals through our hands-on Yoga practices. Meet the team!
        </p>
        <div class="row" id="employees">
            <div class="col-md-4" id="sarahEmployee">
                <p>Sarah</p>
            </div>

            <div class="col-md-4" id="marioEmployee">
                <p>Mario</p>
            </div>

            <div class="col-md-4" id="marioEmployee">
                <p>Courtney</p>
            </div>
        </div>
    </div>
</div>