
@{
    ViewBag.Title = "Instructors";
}
<h2 id="mainHeader">Meet Our Instructors!</h2>

<hr />
<h3 id="quote">Each morning we are born again. What we do today matters most</h3>
<div id="container">
    <div>
        <p>
            All of our Yoga instructors are certified, trained, professionals whose goal is to help YOU acheive your
            personal goals through our hands-on Yoga practices. Meet the team!
        </p>
    </div>
    <div>
        <p>Sarah</p>
    </div>
    <hr />
    <div>
        <p>Mario</p>
    </div>
    <hr />
    <div>
        <p>Courtney</p>
    </div>
</div>
