
@{
    ViewBag.Title = "PackagesAndPricing";
}

<h2 id="mainHeader">Packages</h2>
<hr />
<h3 id="quote">Be in harmony with yourself</h3>
<hr />
<div id="container">
    <div>
        <p></p>
    </div>
</div>

