
@{
    ViewBag.Title = "PackagesAndPricing";
}

<h2 id="mainHeader">Packages</h2>
<hr />
<h3 id="quote">Don't ever doubt your worth</h3>
<header>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</header>
<hr />
<div id="container">
    <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                SINGLE Class
                            </h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>$15 / class</strong>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>All Locations</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Multiple Instructors</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Never expires</li>
                        </ul>
                        <div class="panel-footer">
                            <form action="your-server-side-code" method="POST">
                                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="pk_test_ZAnbP0INntVBj9Q84CNzSpRQ"
                                        data-amount="999"
                                        data-name="DevCodeTest"
                                        data-description="Widget"
                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                        data-locale="auto">
                                </script>
                            </form>
                            <a class="btn btn-lg btn-block btn-danger" href="http://www.jquery2dotnet.com">BUY NOW!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                10 Pack
                            </h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>$110 / package</strong>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>All Locations</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Multiple Instructors</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Never expires</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-danger" href="http://www.jquery2dotnet.com">BUY NOW!</a>
                        </div>
                    </div>
                </div>
                </div>
            <hr />
    <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                MONTHLY Membership
                                <br />Unlimited
                            </h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>$60 / month</strong>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>All Locations</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Multiple Instructors</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Never expires</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="http://www.jquery2dotnet.com">BUY NOW!</a>
                        </div>
                    </div>
                </div>
            <hr />
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                YEARLY Membership
                                <br />Unlimited
                            </h4>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead">
                                <strong>$600 / year</strong>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>All Locations</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Multiple Instructors</li>
                            <li class="list-group-item"><i class="icon-ok text-danger"></i>Never expires</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="http://www.jquery2dotnet.com">
                                BUY
                                NOW!
                            </a>
                        </div>
                        <hr />
                    </div>
                </div>
                </div>
                    </div>    


